@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    margin: 0;
    font-family: 'DM Serif Display', serif;
}

/* Helpers */
.mr-15 {
    margin-right: 15px;
}
.mt-20 {
    margin-top: 20px;
}

.main-content {
    padding: 10px;
}

/* Interview Schedule */
.calendar {
    width: 100%;
    margin: 0px auto 30px auto;   
}
.calendar-header {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    background-color: #EFB495;
}
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
}
.weekdays div {
    padding: 10px;
    background-color: #f8f8f8;
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}
.days div {
    text-align: center;
    padding: 12.5px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    font-size: 0.9rem;
}
.blank {
    background-color: #f5f5f5!important;
}
.view-calendar-btn {
    border: 1px solid #e8e8e8;
    padding: 4px 12px;
    border-radius: 25px;
    color: #e8e8e8!important;
}
.main-pg-btn:hover {
    background-color: #2f2f2f;
    color: #EFB495!important;
}
.main-pg-btn {
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
    border: 1px solid #2f2f2f;
    padding: 6px 24px;
    border-radius: 25px;
    text-decoration: none;
    color: #2f2f2f!important;
}
.current-day {
    border: 1px solid #EFB495!important;
}
.active-day {
    color: #EFB495!important;
    border: 1px solid #EFB495!important;
}
.active-day:hover {
    background-color: #EFB495!important;
    color: #fff!important;
}
.basic-loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
}
.basic-loader {
    margin: 100px auto auto auto;
    border: 12px solid #212121;
    border-top: 12px solid #EFB495;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.40s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}